CG_POSTGRES_PASSWORD=replace_with_local_random_value
CG_NAKAMA_SERVER_KEY=replace_with_local_random_value
CG_NAKAMA_SESSION_KEY=replace_with_local_random_value
CG_NAKAMA_REFRESH_KEY=replace_with_local_random_value
CG_NAKAMA_RUNTIME_HTTP_KEY=replace_with_local_random_value
CG_NAKAMA_CONSOLE_PASSWORD=replace_with_local_random_value
CG_NAKAMA_CONSOLE_SIGNING_KEY=replace_with_local_random_value
